Assets/3DModels/IndoorScenes/cloister-cathedral-of-st-mary-of-la-seu-vella/source/Cloister_st_mary_fovea_edit/Cloister_st_mary_fovea_edit.obj filter=lfs diff=lfs merge=lfs -text
Assets/3DModels/IndoorScenes/the-picture-gallery/source/161122_HWY_Galleri/161122_HWY_Galleri.obj filter=lfs diff=lfs merge=lfs -text
